# =========ø============
# Python & Environment
# =====================
venv/
__pycache__/
*.pyc
.env

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Data
# =====================
# Ignore all CSVs except sample and cleaned
data/*.csv
!data/sample_cleaned_resumes.csv
!data/cleaned_resumes.csv

# =====================
# Models
# =====================
# Ignore everything in models but allow JSON
models/*
!models/*.json

# =====================
# Reports, Scripts, Notebooks (keep them all)
# =====================
!reports/
!scripts/
!notebooks/
